html, ::selection {
  background: #cece9e;
  color: #fff;
}
::-moz-selection {
  background: #cece9e;
  color: #fff;
}
body {
  margin: 4%;
  padding: 2%;
  background: #f5f5f5;
  color: #353535;
  font: 14px "Lucida Grande", sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: #dddddd 0 0 8px;
  -moz-box-shadow: #dddddd 0 0 8px;
  box-shadow: #dddddd 0 0 8px;
}
a {
  -webkit-tap-highlight-color: #cece9e;
  color: #3070dc;
}
a:hover {
  color: #2969b9;
}
input, textarea, button {
  display: block;
  margin-bottom: 0.2em;
}
input, textarea {
  float: left;
  vertical-align: middle;
}
input, textarea, .flash {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ada414;
}
form, form > div, button, table, .flash, .cb {
  clear: both;
}
.error, label {
  padding: 1px;
  margin-top: 0.2em;
  float: left;
  font-size: 0.85em;
}
.error {
  background: #dd9090;
  color: #f4f4f4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
input:invalid, textarea:invalid {
  border-color: #dd9090;
  -webkit-box-shadow: #d08080 0 0 3px;
  -moz-box-shadow: #d08080 0 0 3px;
  box-shadow: #d08080 0 0 3px;
}
label {
  font-family: "Monaco", monospace;
  margin-right: 5px;
  min-width: 50px;
  text-align: right;
}
form.res button {
  margin-left: 57px;
}
label, button, input[type=checkbox], input[type=radio] {
  cursor: pointer;
}
.flash {
  background: #aba210;
  color: white;
  padding: 4px;
  margin-bottom: 0.8em;
}
.flash::selection, .error::selection {
  background: white;
  color: black;
}
.flash::-moz-selection, .error::-moz-selection {
  background: white;
  color: black;
}
td, th {
  margin: -1px 0 0 0;
  padding: 0.15em 0.6em;
  border-right: 1px solid #ececec;
}
td:last-of-type, th:last-of-type {
  border-right: none;
}
tr:nth-child(even) {
  background: rgba(180,180,180,0.1);
}
tr:hover {
  background: #ffffff;
}
form, table, p, h1 {
  margin-bottom: 0.8em;
}
form {
  overflow: hidden;
}
h1, button, .altact {
  float: left;
}
h1:first-letter {
  font-size: 1.15em;
  line-height: -0.75em;
}
.user {
  float: right;
}
